.card {
  width: 33vw;
  margin-right: 0.3vw;
}
.image {
  display: flex;
}
.quote {
  color: #ffffff;
  padding: 2rem 4rem;
  text-align: center;

  &__top {
    background-color: #939A9C;
    margin-bottom: 0.3vw;
  }

  &__bottom {
    background-color: #687677;
    margin-top: 0.3vw;
  }

  &__text {
    font-size: 1.6rem;
    font-family: 'Interstate Light';
    font-weight: 100;
    letter-spacing: 5px;
    line-height: 2rem;
    text-transform: uppercase;
  }
}