$gutter: 5px;

.card {
  display: flex;
  position: relative;
  flex-direction: column;
}

.image {
  display: flex;
  filter: grayscale(100%);
  cursor: pointer;

  &:hover {
    filter: none;
  }
}

.image__fifty {
  margin-bottom: 5px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  flex: 1; 
  min-height: 50px;
  text-align: center;
  padding: 1rem;

  &__only {
    min-height: 300px;
    background-color: #939A9C;
  }

  &__top {
    background-color: #939A9C;
    margin-bottom: $gutter;

    &__text {
      font-size: 0.7rem;
    }
  }

  &__bottom {
    background-color: #687677;
    margin-top: $gutter;;
  }

  &__text {
    font-size: 1rem;
    letter-spacing: 5px;
    line-height: 2rem;
    text-transform: uppercase;
    width: 100%;
  }

  &__author {
    font-style: italic;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1024px) {
  .quote {
    padding: 1rem 2rem;
    
    &__text {
      font-size: 1.3rem;
    }

    &__top {
      padding: 1rem 0;

      &__text {
        font-size: 0.7rem;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .quote {
    padding: 1rem 1.75rem;

    &__top {
      padding: 0;
    }
  }
}