$gutter: 5px;

.card {
  display: flex;
  position: relative;
  flex-direction: column;
}

.image {
  display: flex;
}

.image__fifty {
  margin-bottom: 5px;
}

.image__full {
  height: auto;
  width: 100vw;
  max-height: 468px;
  max-width: 472px;
}

.quote {
  display: flex;
  align-items: center;
  color: #ffffff;
  flex: 1; 
  min-height: 100px;
  text-align: center;

  &__top {
    background-color: #939A9C;
    margin-bottom: $gutter;
  }

  &__bottom {
    background-color: #687677;
    margin-top: $gutter;;
  }

  &__text {
    font-size: 1rem;
    font-family: 'Interstate Light';
    font-weight: 100;
    letter-spacing: 5px;
    line-height: 2rem;
    text-transform: uppercase;
  }
}

.image__mobile {
  display: flex;
}
.image__desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .quote {
    padding: 1rem 2rem;
    
    &__text {
      font-size: 1.6rem;
    }
  }
  .image__mobile {
    display: none;
  }
  .image__desktop {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .quote {
    padding: 2rem 4rem;
  }
}