.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &__panel {
    background-color: #1b2830;
    color: #ffffff;
    display: block;
    padding: 10%;
    text-align: left;
    width: 100%;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0;
  }

  &__info {
    color: #2f8aa7;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 5px 0 0;
    text-align: left;
    text-transform: uppercase;
  }

  &__image {
    display: flex;
    height: auto;
    width: 100%;
    max-width: 100%;
  }

  @media screen and (min-width: 750px) {
    flex-direction: row;
 
    &__left {
      transform: translate(0, 0);
      transition: all 1s ease;
    }
  
    &__right {
      transform: translate(calc(-62vw), 0);
      transition: all 1s ease;
    }

    &__panel {
      display:flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      padding: 0 10%;
      z-index: 10;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      text-align: right;
    }

    &__info,
    &__title {
      align-items: center;
      text-align: right;
    }

    &__title {
      font-size: 2rem;
      margin: revert;
    }
  }

  @media screen and (min-width: 1200px) {
    &__right {
      transform: translate(calc(-1200px + 100%), 0);
    }
  }
}