.nav {
  $nav: &;
  margin-left: auto;
  text-align: right;

  @media screen and (max-width: 749px) {
    &__collapsed {
      transition: transform 0.3s ease-out;
      transform-origin: top left;
      transform: scaleY(0);
    }

    &__open {
      display: block;
      height: auto;
      overflow: hidden;
      padding-top: 2rem;
      transition: transform 0.3s ease-out;
      transform: scaleY(1);
      transform-origin:top; 
    }
  }

  a {
    text-decoration: none;
    color: #a7adb0;
    transition: color 0.3s ease;
  }

  &__menu {
    @media screen and (max-width: 749px) {
      background-color: #f5f5f5;
      left: 0;
      position: absolute;
      padding: 2rem 0 0 0;
      top: 100%;
      width: 100%;
      z-index: 10;
    }

    @media screen and (min-width: 750px) {
      display: block;
    }
    
    list-style: none;
    margin: 0;

    > li {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 2.2rem;
      padding-left: 1.5rem;

      @media screen and (max-width: 749px) {
        &:first-child {
          border-top: 1px solid #000000;
        }
        border-bottom: 1px solid #000000;
        font-size: 1.4rem;
        padding: 1rem 1.5rem;
      }
      position: relative;
    }

    &__active {
      > a {
        color: #000000;
        position: relative;

      }

      @media screen and (min-width: 750px) {
        #{$nav}__submenu {
          display: block;
          list-style: none;
          padding-right: 0.75rem;
          position: absolute;
          top: 0;
          right: 7rem;
  
          &::after {
            content: '';
            background-color: #000000;
            height: 3px;
            position: absolute;
            width: 8px;
            right: -0.5rem;
            top: 1rem;
          }

          > li {
            display: inline;
            font-weight: 700;
            letter-spacing: 1px;
            margin-left: 2rem;
            white-space: nowrap;
          }
        }
      }
    }
  }

  &__submenu {
    display: block;
    list-style: none;

    li {
      font-size: 1.1rem;
    }

    @media screen and (min-width: 750px) {
      display: none;
    }
  }
}