.nav {
  margin-left: auto;
  text-align: right;

  &__wrapper {
    a {
      text-decoration: none;
      color: #a7adb0;
      transition: color 0.3s ease;
    }
  }
  
  &__menu {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
    
    list-style: none;
    margin: 0;

    li {
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 2.2rem;
    }

    &__active {
      a {
        color: #000000;
      }
    }
  }
}